version: '3'
services:
  rabbitmq:
    image: rabbitmq:3.10.7-management
    ports:
      - 15672:15672
      - 5672:5672

  webhook-catcher:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: webhook-catcher:v0.0.3
    command: python manage.py runserver 0.0.0.0:8080
    ports:
      - "8080:8080"
    environment:
      - RABBIT_HOST=rabbitmq
      - RABBIT_DEFAULT_QUEUE=main
      - PROXY_MODE=1
      - PROXY_ENDPOINT=http://localhost:8080/webhook
    depends_on:
      - rabbitmq
